input {
    width: 200px;
    text-align: center;
    margin: 5px;
}
#better-label{
    width: 200px;
    margin: 5px;
}
#mess {
    margin-top: -3px;
    font-size: 25px;
}
#first {
    float: left;
}
#second {
    margin-left: 50px;
    float: left;
}
#third {
    margin-left: 50px;
    float: left;
}
ul {
    list-style-type: none;
}
.cont {
    border: 1px;
    border-style: solid;
    padding: 5px;
    margin-bottom: 10px;
}