<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <style>
        input {
            width: 20.67px;
            text-align: center;
            margin: 5px;
            margin-top: 0px;
        }
        #user {
            width:auto;
        }
        #mess {
            font-size: 25px;
        }
    </style>
</head>
<body>
    <form method="post" action="{{ url_for('main') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h1>Authentication id</h1>
        <br>
        <div>
            <p style="float: left; margin-top: 0%;">Authentication id: </p>
            <input style="float: left;" type="text" id="user" name="username" required>
            <button style="float: left;" type="submit">Login</button>
        </div>
    </form>
    <p id="mess" style="margin-top: 50px;"><strong>{{message}}</strong></p>
</body>
</html>