<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/account.css') }}">
</head>
<body>
    <form method="post" action="{{ url_for('main') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h1>Authentication id</h1>
        <br>
        <div>
            <p>Authentication id: </p>
            <input type="text" id="user" name="username" required>
            <button type="submit">Login</button>
        </div>
    </form>
    <p id="mess" ><strong>{{message}}</strong></p>
</body>
</html>