<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Page</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/bank.css') }}">
</head>
<body>
    <div>
        <div id = "first">
            <p id="mess"><strong>Account: {{account}} || Available balance: {{balance}}</strong></p>
            <form method="post" action="{{ url_for('logout')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Logout</button>
            </form>
            <h1>Add transaction:</h1>
            <form method="post" action="{{ url_for('addTransaction')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <label>Title:</label><br>
                <input type="text" name="Title" required><br>
        
                <label>Amount:</label><br>
                <input type="text" name="Amount" required><br>
        
                <label>Account Number:</label><br>
                <input type="text" name="Account" required><br>
        
                <label>Name:</label><br>
                <input type="text" name="Name" required><br>
        
                <label>Surname:</label><br>
                <input type="text" name="Surname" required><br>

                <label>Address:</label><br>
                <input type="text" name="Adress" required><br>
        
                <button type="submit">Add transaction</button>
            </form>
            <h1>Your data:</h1>
            <h2>Your card number: {{ card_number}}</h2>
            <h2>Your id number: {{ id_number }}</h2>
            {% if not card_number %}
            <form method="get" action="{{ url_for('data') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Get your data</button>
            </form>
            {% else %}
            <form method="get" action="{{ url_for('bank') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Hide your data</button>
            </form>
            {% endif %}
            <form method="post" action="{{ url_for('changePassw')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h1>Change Password:</h1><br>
                <label>Old Password:</label><br>
                <input type="password" name="oldPassword" required><br>
                <label>New Password:</label><br>
                <input id="passwordInput" type="password" name="password" oninput="checkStrength()" required><br>
                <label>Repeat Password:</label><br>
                <input type="password" name="repeatedPassword" required><br>
                <button type="submit">Change Password</button>
            </form>
            <label id="StrentghOfPassword"></label><br>
            <script type="text/javascript" src="{{ url_for('static',filename='checkPassword.js') }}"></script>
            <p id="mess"><strong>{{message}}</strong></p>
        </div>
        <div id = "second">
            <h1>Your Transactions</h1>
            <ul>
                {% for item in history %}
                <div class="cont">
                  <li>Title: {{ item.Title }}</li>
                  <li>Amount: {{ item.Amount }}</li>
                  <li>From Account: {{ item.FromAccount }}</li>
                  <li>Recipient Account: {{ item.Account }}</li>
                  <li>Recipient Name: {{ item.Name }}</li>
                  <li>Recipient Surname: {{ item.Surname }}</li>
                  <li>Recipient Address: {{ item.Adress }}</li>
                </div>
                {% endfor %}
            </ul>
        </div>
        <div id ="third">
            <p id="mess"><strong>{{message}}</strong></p>
        </div>
    </div>
</body>
</html>