<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Page</title>
    <style>
        input {
            width: 20.67px;
            text-align: center;
            margin: 5px;
        }
        #block {
            width: 20.67px;
            height: 20.67px;
            background-color: black;
            margin: 6.1778px;
        }
    </style>
</head>
<body>
    <form method="post" action={{ url_for('bank') }}>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="username" value="{{ user }}">
        <h1>Password</h1>
        <div id="container">   
        {% for i in range(10) %}
            {% if i in missing_letters %}
                <input id="block" readonly></input>
            {% else %}
                <input type="password" maxlength="1" name="password{{ loop.index }}" required>
            {% endif %}
        {% endfor %}
        <input type="password" maxlength="1" name="password11" oninput="addExtraInput(this)">
        </div>
        <br>
        <button style="margin-top: 10px;" type="submit">Login</button>
    </form>
    <script>
        let flags = {};
        function addExtraInput(object) {
            var currentName = object.name;
            if(flags[currentName]){
                return;
            }
            flags[currentName] = true;
            var container = document.getElementById('container');           
            var numericPart = currentName.match(/\d+/);
            var incrementedValue = parseInt(numericPart[0], 10) + 1;
            var newName = currentName.replace(/\d+/, incrementedValue);
            var counts = JSON.parse('{{ missing_letters | tojson | safe }}');
            if(counts.includes(incrementedValue-1)){
                var newInput = document.createElement('input');
                newInput.id = "block";
                newInput.readOnly = true;
                container.appendChild(newInput);
                newInput = document.createElement('input');
                newInput.type = 'password';
                newInput.maxLength = "1";
                var changedName = newName.replace(/\d+/, incrementedValue+1);
                newInput.name = changedName;
                newInput.oninput= function(event) {
                    addExtraInput(event.target);
                }
                container.appendChild(newInput);
            }else{
                var newInput = document.createElement('input');
                newInput.type = 'password';
                newInput.maxLength = "1";
                newInput.name = newName;
                newInput.oninput= function(event) {
                    addExtraInput(event.target);
                }
                container.appendChild(newInput);
            }
        }
    </script>
</body>
</html>